:root {
    --back-col: #bceaffea;
    --col: #20b9ffea;
}

body {
    background-color: var(--back-col);
    margin: 0;
}

header h1 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    margin: auto;
    padding: 0.5rem 0;
    color: white;
    text-shadow: 3px 3px 5px black;
    background-color: var(--col);
}

#addTask {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
    order: -1;
}

#addTask * {
    box-sizing: border-box;
    margin: 2px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}

#addTask [type="text"] {
    width: 60%;
}

#addTask [type="submit"] {
    width: 10%;
    min-width: 60px;
}

#tasks {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
    margin: 15px auto;
    border-radius: 5px;
    background-color: white;
}

.task {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 120px;
    padding: 10px;
    border-top: 2px solid #ccc;
}

.completed {
    background-color: #ddd;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 5%;
    min-width: 30px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-size: 1rem;
    color: white;
}

button {
    border: none;
    border-radius: 10%;
    width: 35px;
    height: 30px;
    background-color: var(--col);
}

.taskName {
    align-self: center;
    width: 100%;
    margin: 10px;
    overflow: auto; 
}

.taskName .icon-ok:before {
    color: green;
}

.dates {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.8rem;
}

.date {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.label {
    width: 90px;
    color: #777;
}

.content {
    width: 60px;
}

.acceptCancel {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 170px;

}